# --- Dependencies ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Build Outputs ---
dist/
build/
out/
.next/
.nuxt/

# --- Environment Variables ---
.env
.env.*
!.env.example
!.env.test

# --- Logs ---
logs/
*.log
*.pid
*.pid.lock
*.seed

# --- Tests & Coverage ---
coverage/
.nyc_output/
junit.xml

# --- IDEs & OS ---
.DS_Store
.idea/
.project
.classpath
.settings/
*.sublime-workspace
.vscode/*

# --- NestJS specific ---
# .tsbuildinfo
